*{
	margin: 0;
	padding: 0;
}
body{
	min-width: 700px;
	padding: 20px;
}

.container{
    overflow: auto;
	background: #eee;
	padding:20px 160px 20px 240px;
	border: 1px solid #999;
}

.introduction, .team, .members{
	background: #fff;
	float: left;
	position: relative;
	box-sizing: border-box;
	padding: 19px;
	border: 1px solid #999;
}
.introduction{
	width: 100%;
	min-height: 400px;
}
.team{
	width: 200px;
    margin-left: -100%;
	position: relative;
	right: 220px;
}
.logo{
	width: 80px;
	height: 80px;
	border: 1px solid #999;
}
.team p{
	float:right;
}
.members{
	width: 120px;
	margin-left: -140px;
	left: 160px;
}

.member{
	float: left;
	margin-bottom: 20px;
	height: 80px;
	width: 80px;
    border: 1px solid #999;
}
.member:last-child{
	margin-bottom: 0px;
}
