*{
	margin: 0;
	padding: 0;
}
body{
	min-width: 700px;
}
.container{
    overflow: auto;
	background: #eee;
	border:1px solid #999;
	padding-left: 240px;
	padding-right: 160px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.introduction{
	position: relative;
	float:left;
	border:1px solid #999;
	width: 100%;
}
.team{
	float:left;
	padding: 20px;
	width: 200px;
	border:1px solid #999;
    margin-left: -100%;
	position: relative;
	right: 220px;
	box-sizing: border-box;
}
.members{
	float: left;
	box-sizing: border-box;
	width: 120px;
	border:1px solid #999;
	padding: 20px 20px 0;
	margin-left: -140px;
	position: relative;
	left: 160px;
}

.chengyuan{
	float: left;
	width: 80px;
	height: 80px;
	padding-bottom: 20px;
}
.duibiao{
	width: 80px;
	height: 80px;
}
.teamname{
	position: absolute;
	top: 20px;
	left: 20px;
}